<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="img/logos/escudo-salta.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./CSS/login.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <div class="logotipo">
                <img src="img/logos/tur-salta.png" width="100">
                <img src="img/logos/band-prov-salta.jpg" width="100">
                <img src="img/logos/escudo-salta.jpg" width="55">
            </div>
            <h1>Comidas regionales de Salta</h1>
        </header>
        <main>
            <div class="contenido" id="app">
                <form>
                    <h2>Login CRUD</h2>
                    <br>
                    <div class="mb-3">
                        <label for="usuario">Ingrese Usuario:&nbsp</label>
                        <input type="text" name="usuario" id="usuario" v-model="usuario">
                    </div>
                    <div class="mb-3">
                        <label for="contraseña">Ingrese la contraseña:&nbsp</label>
                        <input type="text" name="contraseña" id="contraseña" v-model="contraseña">
                    </div>
                    
                    <input class="button" type="button" value="Ingresar" onclick="validar()"/>
                    <a class="btn btn-danger" href="index.html">Volver al Home</a>
                </form>
            </div>
        </main>
        <footer class="footer">
            <nav>
                <hr>
                <a class="foo" title="Facebook" target="_blank" href="https://www.facebook.com"><img class="img"
                        src="img/logos/facebook.png" alt="Facebook" height="50" /></a>
                <a class="foo" title="Instagram" target="_blank" href="https://www.instagram.com"><img class="img"
                        src="img/logos/Instagram.jpg" alt="Instagram" height="50" /></a>
                <a class="foo" title="Twitter" target="_blank" href="https://www.twitter.com"><img class="img"
                        src="img/logos/twitter.png" alt="Twitter" height="50" /></a>
                <a class="foo" title="Whatsapp" target="_blank" href="https://www.whatsapp.com"><img class="img"
                        src="img/logos/whatsapp.png" alt="Whatsapp" height="50" /></a>
            </nav>
            <address>Nelson Fernando Villalba - CaC2023 - Derechos reservados @2023</addess>
            <hr>
        </footer>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        function validar() {
            var user, pass;
            user = document.getElementById("usuario").value;
            pass = document.getElementById("contraseña").value;

            if (user == "nelfervi" && pass == "1234") {
                limpiar();
                window.location = "productos.html";
            } else {
                alert("Has ingresado un usuario o contraseña invalida!! Vuelve a intentar!!");
                limpiar();
                window.location = "index.html";
            }
        }
        function limpiar() {
            document.getElementById("usuario").value="";
            document.getElementById("contraseña").value="";
        }
    </script>
</body>

</html>